
/KRHG/Admin/nbproject/private/
/KRHG/Admin/build/
/KRHG/Admin/dist/

/KRHG/KRHG-ejb/build/
/KRHG/KRHG-ejb/nbproject/private/
/KRHG/KRHG-ejb/dist/

/KRHG/build/
/KRHG/dist/
/KRHG/nbproject/private/

/KRHG/Frontdesk/build/
/KRHG/Frontdesk/dist/
/KRHG/Frontdesk/nbproject/private/

/KRHG/Frontdesk/build/
/KRHG/Frontdesk/dist/
/KRHG/Frontdesk/nbproject/private/

/KRHG/Kiosk-war/build/
/KRHG/Kiosk-war/dist/
/KRHG/Kiosk-war/nbproject/private/

/KRHG/KRHG-war/build/
/KRHG/KRHG-war/dist/
/KRHG/KRHG-war/nbproject/private/