# Compiled Class File
*.class

# Log File
*.log

# BlueJ Files
*.ctxt

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Ant Specific
dist/
build/

# Netbeans Specific
core
nbproject/*

# Java specific
*.class

# General Swap/Backup Files
*.so
*.log
*.out
*~
*.swp
*.DS_Store
*.lock


/nbproject/private/
/build/
/dist/
KRHG/nbproject/private
KRHG/nbproject/ant-deploy.xml
KRHG/nbproject/build-impl.xml
KRHG/nbproject/genfile.properties
KRHG/nbproject/rest-build.xml
KRHG/build/
KRHG/dist/

KRHG/KRHG-ejb/build
KRHG/KRHG-ejb/nbproject/private
KRHG/KRHG-ejb/nbproject/ant-deploy.xml
KRHG/KRHG-ejb/nbproject/build-impl.xml
KRHG/KRHG-ejb/nbproject/genfile.properties
KRHG/KRHG-ejb/nbproject/rest-build.xml
KRHG/KRHG-ejb/dist
KRHG/KRHG-ejb/setup/glass-resource.xml
KRHG/KRHG-ejb/src/conf/persistence.xml

KRHG/Admin/nbproject/private
KRHG/Admin/nbproject/ant-deploy.xml
KRHG/Admin/nbproject/build-impl.xml
KRHG/Admin/nbproject/genfile.properties
KRHG/Admin/nbproject/rest-build.xml
KRHG/Admin/build
KRHG/Admin/dist

KRHG/Frontdesk/build
KRHG/Frontdesk/dist
KRHG/Frontdesk/nbproject/private
KRHG/Frontdesk/nbproject/ant-deploy.xml
KRHG/Frontdesk/nbproject/build-impl.xml
KRHG/Frontdesk/nbproject/genfile.properties
KRHG/Frontdesk/nbproject/rest-build.xml

KRHG/Frontdesk-war/build
KRHG/Frontdesk-war/dist
KRHG/Frontdesk-war/nbproject/private
KRHG/Frontdesk-war/nbproject/ant-deploy.xml
KRHG/Frontdesk-war/nbproject/build-impl.xml
KRHG/Frontdesk-war/nbproject/genfile.properties
KRHG/Frontdesk-war/nbproject/rest-build.xml

KRHG/Kiosk-war/build
KRHG/Kiosk-war/dist
KRHG/Kiosk-war/nbproject/private
KRHG/Kiosk-war/nbproject/ant-deploy.xml
KRHG/Kiosk-war/nbproject/build-impl.xml
KRHG/Kiosk-war/nbproject/genfile.properties
KRHG/Kiosk-war/nbproject/rest-build.xml

KRHG/Kiosk/build
KRHG/Kiosk/dist
KRHG/Kiosk/nbproject/private
KRHG/Kiosk/nbproject/ant-deploy.xml
KRHG/Kiosk/nbproject/build-impl.xml
KRHG/Kiosk/nbproject/genfile.properties
KRHG/Kiosk/nbproject/rest-build.xml

KRHG/KRHG-war/build
KRHG/KRHG-war/dist
KRHG/KRHG-war/nbproject/private
KRHG/KRHG-war/nbproject/ant-deploy.xml
KRHG/KRHG-war/nbproject/build-impl.xml
KRHG/KRHG-war/nbproject/genfile.properties
KRHG/KRHG-war/nbproject/rest-build.xml

KRHG/nbproject/project.properties
KRHG/KRHG-ejb/setup/sun-resources.xml
KRHG/KRHG-ejb/setup/project.properties
KRHG/KRHG-war/setup/project.properties
KRHG/Admin/setup/project.properties
KRHG/Kiosk-war/setup/project.properties
KRHG/Kiosk/setup/project.properties
KRHG/Frontdesk-war/setup/project.properties
KRHG/Frontdesk/setup/project.properties
/KRHG/RequestServicesManangment-War/nbproject/private/
*.properties
