

* {
  margin:0;
  padding:0;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  outline:none;
  border:0;
}

body {
  background:#2a2b30 url("https://38.media.tumblr.com/d23deac40b06633b79520a8552f40b94/tumblr_nb1uhrRrge1st5lhmo1_1280.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wrap {
  max-width:900px;
  width:80%;
  margin:0 auto;
  padding:0px 0px 40px 0px;
}

.wrap h1 {
  font-size:5em;
  font-family:inherit;
  font-weight:300;
  color:#fff;
  text-shadow:0px 1px 0px rgba(0,0,0,.1);
  -webkit-font-smoothing: antialiased;
  letter-spacing:-3px;
}

.wrap p {
  font-family:inherit;
  font-size:1.5em;
  color:#fff;
  text-shadow:0px 1px 0px rgba(0,0,0,.1);
  letter-spacing:1px;
}

.fa {
  margin-right:10px;
}

.mainWrap {
  max-width:900px;
  width:80%;
  margin:0 auto;
  padding-bottom:100px;
}

.left,
.right{
  width:49%;
  border:0;
  background:#fff;
  padding:20px;
  font-size:1.2em;
  font-family:inherit;
  box-shadow:4px 4px 0px rgba(0,0,0,.1);
  margin-bottom:5px;
  color:#111;
}

::-webkit-input-placeholder {
  color: #696969;
}

:-moz-placeholder {
 color: #696969; 
}

::-moz-placeholder {  
 color: #696969;
}

:-ms-input-placeholder {  
 color: #696969;
}

.left {
  float: left;
}

.right {
  float:right;
}


.mainArea {
  width:100%;
  box-shadow:4px 4px 0px rgba(0,0,0,.1);
  font-size:1.4em;
  margin-top:20px;
  padding:20px;
  font-family:inherit;
  color:#111;
  height:400px;
  resize:none;
}

.bigBtn {
  width:100%;
  padding:20px;
  text-align:center;
  margin-top:20px;
  font-size:2em;
  font-family:inherit;
  background:#5c5edc;
  color:#fff;
  cursor:pointer;
}

/* Landscape mobile & down */
@media (max-width: 30em) {
  .wrap h1 {
    font-size:2.3em;
    letter-spacing:0;
  }
  
  .wrap p {
    font-size:1.1em;
    line-height:1.4em;
  }
  
  .left,.right {
    width:100%;
  }
  
  .left {
    margin-top:20px;
  }
  
  .bigBtn {
    font-size:1.3em;
  }
  
}

.inputGroupFull{
    background-color: #fff;
    display: block;
    width: 100%;
    margin: 10px 0;
    position: relative;
  }

  .inputGroupFull label {
    padding: 12px 30px;
    width: 100%;
    display: block;
    text-align: left;
    color: #3c454c;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 200ms ease-in;
    overflow: hidden;
  }

  .inputGroupFull label:before {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    content: '';
    background-color: #5562eb;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale3d(1, 1, 1);
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    z-index: -1;
  }

  .inputGroupFull label:after {
    width: 32px;
    height: 32px;
    content: '';
    border: 2px solid #d1d7dc;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-position: 2px 3px;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all 200ms ease-in;
  }

  .inputGroupFull input:checked ~ label {
    color: #fff;
  }
  .inputGroupFull input:checked ~ label:before {
    transform: translate(-50%, -50%) scale3d(96, 96, 1);
    opacity: 1;
  }
  .inputGroupFull input:checked ~ label:after {
    background-color: #54e0c7;
    border-color: #54e0c7;
  }
  .inputGroupFull input {
    width: 32px;
    height: 32px;
    order: 1;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    visibility: hidden;
  }


.inputGroup {
    background-color: #fff;
    display: block;
    width: 100%;
    margin: 0;
    position: relative;
  }
  .inputGroup label {
    padding: 12px 30px;
    width: 100%;
    display: block;
    text-align: left;
    color: #3c454c;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 200ms ease-in;
    overflow: hidden;
  }
  .inputGroup label:before {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    content: '';
    background-color: #5562eb;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale3d(1, 1, 1);
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    z-index: -1;
  }
  .inputGroup label:after {
    width: 32px;
    height: 32px;
    content: '';
    border: 2px solid #d1d7dc;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-position: 2px 3px;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all 200ms ease-in;
  }
  .inputGroup input:checked ~ label {
    color: #fff;
  }
  .inputGroup input:checked ~ label:before {
    transform: translate(-50%, -50%) scale3d(56, 56, 1);
    opacity: 1;
  }
  .inputGroup input:checked ~ label:after {
    background-color: #54e0c7;
    border-color: #54e0c7;
  }
  .inputGroup input {
    width: 32px;
    height: 32px;
    order: 1;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    visibility: hidden;
  }


@import 'https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.3.2/css/simple-line-icons.min.css';
@import 'https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css';


.select {
  position: relative;
  overflow: hidden;
  display: block;
  margin-bottom: 20px;
  width: 497px;
  height: 100%;
  border-bottom: 0px;
  font-size: 20px;
  box-shadow: 0px 1em 2em -1.5em rgba(0, 0, 0, .5);
}
.select > i.toggle {
  position: absolute;
  z-index: 4;
  right: 1.5em;
  top: 1.6em;
  color: #5c5edc;
}
.select .title, .select .placeholder {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 1.5em 2em;
  background: rgba(255, 255, 255, 1);
  border-top: 1px solid rgba(0, 0, 0, .05);
  cursor: pointer;
}
.select > input {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: block;
  color:#5c5edc;
  opacity: 0;
  cursor: pointer;
}
.select > input:checked ~ i.toggle.icon-arrow-down {
  display: none;
}
.select > input:checked ~ i.toggle.icon-arrow-up {
  display: block;
}
.select > input:checked div.options label.option .title {
  display: none !important;
}
.select > input:not(:checked) {
  z-index: 4;
}
.select > input:not(:checked) ~ label.option > span.title {
  display: none;
}
.select > input:not(:checked) ~ i.toggle.icon-arrow-up {
  display: none;
}
.select > input:not(:checked) ~ i.toggle.icon-arrow-down {
  display: block;
}
.select > input:disabled {
  cursor: no-drop;
}
.select > span.placeholder {
  position: relative;
  z-index: 0;
  display: inline-block;
  width: 100%;
  color: #5c5edc;
  border-top: 0px;
}
.select label.option {
  display: block;
  overflow: hidden;
  z-index: 1;
  width: 100%;
  transition: all 1s ease-out;
}
.select label.option span.title {
  position: relative;
  z-index: 2;
  transition: background 0.3s ease-out;
}
.select label.option span.title i.icon {
  padding-right: 8px;
  color: #5c5edc;
}
.select label.option span.title:hover {
  color: #fff;
  background: rgba(92,94,220, .3);
  box-shadow: inset 0px 1px 0px rgba(0, 0, 0, .1);
}
.select label.option input {
  display: none;
}
.select label.option input:checked ~ span.title {
  position: absolute;
  display: block;
  z-index: 3;
  top: 0px;
  font-size: 20px;
  background: #fff;
  border-top: 0px;
  box-shadow: none;
  color: #5c5edc;
  width: 100%;
}
.select label.option input:disabled ~ span.title {
  background: #f9f9f9 !important;
  color: #aaa;
}
.select label.option input:disabled ~ span.title:hover {
  color: #aaa;
  background: none;
  cursor: no-drop;
}

  
